<!DOCTYPE html>
<html>
<head>
	<title>Library</title>
</head>
<body>
	<h1>Recent Posts</h1>
	
	<p> <%= data.name %> </p>
	<div>
		<%=data.comment %>
	</div>
	
	<br>
	<a href="/home"> Create new entry </a>
</body>
</html>